* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: "inter", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #F5F7FB;
}

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: #4D5B9E;
}

::-webkit-scrollbar-thumb:hover {
	background: #3c59ed;
}

main {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 50px 0;
	position: relative;
}

.full-main {
	height: 100vh;
}

.quiz--body {
	z-index: 2;
	background: #fff;
	border-radius: 20px;
	padding: 40px;
	max-width: 800px;
	-webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, .3);
	box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, .3);
}

.blob {
	position: absolute;
	width: 300px;
}

.blob-1 {
	top: 0;
	right: 0;
}

.blob-2 {
	bottom: 0;
	left: 0;
}

h1 {
	font-weight: 700;
	font-size: 31.25px;
	line-height: 37px;
	text-align: center;
	color: #293264;
}

.quiz--start {
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	color: #293264;
}

.btn {
	padding: 15px 30px;
	border: unset;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	color: #F5F7FB;
	background: #4D5B9E;
	border-radius: 15px;
	cursor: pointer;
	/* -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4); */
	transition: box-shadow .3s;
}

.btn:hover {
	-webkit-box-shadow: 0px 2px 10px 1px rgb(0 0 0 / 30%);
	box-shadow: 0px 2px 10px 1px rgb(0 0 0 / 30%);
}

.btn:active {
	-webkit-box-shadow: inset 2px 2px 10px 0px rgba(0, 0, 0, 0.4);
	box-shadow: inset 2px 2px 10px 0px rgba(0, 0, 0, 0.4);
}

.btn:focus {
	outline: 0;
}

.quiz--questions {
	margin-bottom: 50px;
}

.full-main .quiz--questions {
	margin-bottom: 0;
}

.quiz--item:not(:first-child) {
	border-bottom: 1px solid #DBDEF0;
	padding-bottom: 20px;
	margin-top: 40px;
}

.quiz--item h4 {
	font-weight: 700;
	font-size: 17px;
	line-height: 1.4;
	color: #293264;
	margin-top: 0;
}

.option {
	border: 1px solid #4D5B9E;
	border-radius: 7px;
	padding: 5px 15px;
	font-weight: 500;
	font-size: 16px;
	line-height: 1;
	text-align: center;
	color: #293264;
	margin-right: 10px;
	transition: .3s;
	cursor: pointer;
	white-space: nowrap;
	margin-bottom: 10px;
}

.option:not(.quiz--check .option):hover {
	-webkit-box-shadow: 0 5px 10px -5px rgb(0 0 0 / 40%);
	box-shadow: 0 5px 10px -5px rgb(0 0 0 / 40%);
}

.quiz--check .option {
	cursor: default;
}

.quiz--check .option:not(.correct) {
	opacity: .5;
}

.option input {
	display: none;
}

.quiz--options {
	display: flex;
	flex-wrap: wrap;
}

.option.selected {
	background: #D6DBF5;
}

.option.correct {
	background: #94D7A2;
}

.option.wrong {
	background: #F8BCBC;
}

.quiz--score span {
	margin-right: 50px;
	font-weight: 700;
	font-size: 22px;
	line-height: 15px;
	text-align: center;
	color: #293264;
}

.blob--loader {
    height: 200px;
    width: 220px;
    padding-top: 20px;
    padding-left: 10px;
}

.blob--loader path {
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-name: blobs;
}

@keyframes blobs {
	0% {
		d: path("M97.081 2.96445C125.176 1.07254 156.497 -5.87426 176.843 11.5469C199.363 30.8293 205.928 62.0589 197.414 88.8747C189.338 114.313 164.282 132.992 135.909 140.475C112.024 146.775 90.3937 132.093 67.6086 123.11C43.0847 113.441 10.3944 110.575 2.2058 87.7612C-6.33319 63.9714 11.3227 39.0277 31.0878 21.3621C48.2313 6.03978 72.9064 4.59238 97.081 2.96445Z");
	}
	50% {
		d: path("M65.6862 0.0960656C93.7811 -1.79584 149.933 24.6805 170.279 42.1017C192.799 61.384 217.2 88.7803 208.686 115.596C200.61 141.034 151.152 160.796 122.779 168.279C98.8941 174.579 57.9461 160.291 35.161 151.308C10.6371 141.639 12.9676 120.415 4.77908 97.6017C-3.75992 73.8119 -1.73172 45.6655 18.0334 28C35.1769 12.6776 41.5116 1.72399 65.6862 0.0960656Z");
		fill: #3974ff;
	}
	100% {
		d: path("M97.081 2.96445C125.176 1.07254 156.497 -5.87426 176.843 11.5469C199.363 30.8293 205.928 62.0589 197.414 88.8747C189.338 114.313 164.282 132.992 135.909 140.475C112.024 146.775 90.3937 132.093 67.6086 123.11C43.0847 113.441 10.3944 110.575 2.2058 87.7612C-6.33319 63.9714 11.3227 39.0277 31.0878 21.3621C48.2313 6.03978 72.9064 4.59238 97.081 2.96445Z");
	}
}